pom.xml
pom.xml.asc
*.jar
*.class

/.lein-*
/.nrepl-port
.hgignore
.hg/

/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

.idea
/.idea/
.idea/*
hs_err*
replay_pid*